<h1>管理者トップページ</h1>
<h1>今日も1日頑張りましょう！</h1>

<div class="container">
	<div class="row">
		<div class="top-link">

			<pt><%= link_to "商品一覧", admin_items_path %></pt>

			<pt><%= link_to "商品追加", new_admin_item_path %></pt>

			<pt><%= link_to "商品ジャンル", admin_genres_path %></pt>

		</div>
	</div>
</div>