<div class="title">サイトコンセプト</div>


<about>眼鏡が月額 ¥2,000円(税込)で3本レンタルできる新サービス</about><br>

<about>シーンに応じて眼鏡も変えよう</about><br>


<about>現代の視生活は、人によって様々です。それなのに多くの人は、仕事でも、家でも同じ眼鏡を掛けて過ごしています。</about><br>

<about>職場でパソコン作業が多い方は、パソコンが見やすい眼鏡</about><br>

<about>ドライブが趣味な方は、遠くまで見やすい眼鏡</about><br>

<about>家事を長時間される方は、手元も遠くも楽に見える眼鏡</about><br>

<about>このように、見たい場所が楽に見えやすい眼鏡が皆さんの視生活を快適にしてくれます</about><br>



<about>また、テーマパークに行く時、ちょっと豪華なディナーに行く時、会議でプレゼンをする時など様々なシーンに合わせて眼鏡を変えることで人の印象は大きく変わります</about><br>




<about>FCG-Free Choice Glasses-は、月額 ¥2,000円(税込)で眼鏡を3本レンタルできるサイトです。</about><br>

<about>今すぐ、会員登録して視生活を豊かにしましょう！</about><br>