<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>似合う眼鏡とは</title>
  <link rel="stylesheet" href="stylesheet.css">
</head>
<body>
  <div class="header">
    
  </div>

  <div class="main">
    <div class="point-title">
      <p>眼鏡を選ぶ時に「どんな眼鏡が似合うのかわからない」と悩むことはありませんか？</p><br>
      <p>似合う眼鏡を選ぶポイントを紹介します。</p><br><br>

      <div class="point">
        <p>①レンズの真ん中に黒目が来ている</p><br>
        <p>②顔の横幅がフレームの横幅と同じくらいのサイズ感である</p><br>
        <p>③フェイスラインの特徴を知り、フレームタイプを選ぶ</p><br>
        <li>丸顔タイプの方に「スクエアタイプ」のメガネがおすすめ</li><br>
        <li>角のあるスクエアタイプを合わせることで丸顔にシャープさをプラスし、
フェイスラインをスッキリとした印象</li><br>
        <li>スクエアの中でも天地幅が狭いものを選ぶとさらにスタイリッシュさＵＰ</li><br><br>
      </div>

      <div class="life">
        <p>眼鏡選びに迷っているのは、皆さん同じだと思います。</p><br>
        <p>様々なサイトや雑誌に似合う眼鏡の特集などがありますので、探してみてください。</p><br>
      </div>

    </div>
  </div>

  <div class="footer">
    
  </div>

</body>
</html>