<div class="title">

<%= link_to "Welcome to FCG", items_path %><br>
<p>click here</p>

</div>

<div class="top">
	<div class="photo"><img class="size" src="assets/images/top1.jpg"></div>
  <div class="photo"><img class="size" src="assets/images/top2.jpg"></div>
  <div class="photo"><img class="size" src="assets/images/top3.jpg"></div>
</div>