<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0",minimum-scale=1.0">
</head>

<div class="title">

<%= link_to "Welcome to FCG", items_path %><br>
<p>click here</p>

</div>

<!-- assets/images/では本番環境で参照されない -->
<div class="top">
	<div class="photo"><img class="size" src="<%=  asset_path "top001.jpg"%>"></div>
	<div class="photo"><img class="size" src="<%=  asset_path "top002.jpg"%>"></div>
	<div class="photo"><img class="size" src="<%=  asset_path "top003.jpg"%>"></div>
</div>