<h1>itemsのtopページです</h1>

<%= link_to "インデックスページ", items_path %>

<div class="top">
	<div class="photo"><img class="size" src="assets/top1.jpg"></div>
  <div class="photo"><img class="size" src="assets/top2.jpg"></div>
  <div class="photo"><img class="size" src="assets/top3.jpg"></div>
</div>