// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.cover {
  background-color: #DDFFFF;
}

p{
	text-align:center;
	display: inline-block;
  text-align: left;
  font-size: 20px;
}

color-1{
	color: red;
}

ps{
	text-align:center;
	display: inline-block;
  text-align: left;
  font-size: 20px;
  font-family: 'Noto Serif JP', sans-serif;
}

.pa{
	text-align: center;
  font-size: 20px;
}

.thanks-sentence{
	text-align: center;
  font-size: 10px;
  font-family: 'Times New Roman',serif;
  color: #FF5192;
}

pt{
  text-align: center;
  font-size: 20px;
}

.top-link {
    line-height: 20px;
    margin-top: 20px;
    letter-spacing: 10px;
}

item{
  font-size: 20px;
}

about {
    font-size: 25px;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
    letter-spacing: 3px;
    line-height: 2;
}

p1{
  font-size: 15px
}


/*画面幅が767px以上の場合に適用(PC用)*/
@media screen and (min-width: 767px)
{
  
}

/*画面幅が425px以下の場合に適用(スマホ用)*/
@media screen and (max-width:425px) {
  img {
  max-width: 100%;
  }

  about {
  font-size: 7px;
  }

  img.size {
    height: auto;
  }

}












